input {
  outline: none;
  padding: 5px;
  border-radius: 5px;
}

input:active {
  border: 2px solid rgb(6, 107, 240);
}

button {
  outline: none;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid dodgerblue;
  margin-left: 0.5rem;
}

button:hover {
  filter: brightness(0.85);
  cursor: pointer;
}

.message {
  color: red;
  margin-bottom: 0.5rem;
}
