body {
  margin: 0;
  background-color: #394150;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header {
  height: 6vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: rgb(177, 193, 194);
  padding: 2rem 0;
}

.content {
  height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}
